<section class="todoapp">
  <header class="header">
    <h1>Todo List</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="Enter todo item here..." />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Zach Wood", "https://github.com/zwood92" %>
</section>
